In [1]:
# scikit-learn

In [2]:
# A library that provides simple and efficient tools for data mining, machine learning, and data analysis.

In [3]:
# Offers a wide range of supervised and unsupervised learning algorithms.
# Provides tools for preprocessing, model selection, and evaluation.
# Highly optimized and well-documented.

In [ ]:
# Topics to cover in scikit-learn

 # 1. Basics of scikit-learn
# Introduction to scikit-learn
# Installation and setup
# Overview of modules: datasets, preprocessing, model selection, metrics, etc.

# 2. Datasets
# Built-in datasets (iris, digits, boston, etc.)
# Loading external datasets (CSV, SQL, etc.)
# Generating synthetic datasets (make_classification, make_regression, etc.)

# 3. Data Preprocessing
#Feature Scaling:  *

#StandardScaler
#MinMaxScaler
#RobustScaler

#Encoding Categorical Data: *

#LabelEncoder
#OneHotEncoder
#OrdinalEncoder

#Imputation for Missing Values: *

#SimpleImputer (mean, median, most frequent)
#KNNImputer

#Feature Transformation:   *

#Polynomial Features
#Logarithmic and exponential transformations

#Data Normalization:   *

# Normalizer

# Feature Selection:   *

#VarianceThreshold
#SelectKBest
#Recursive Feature Elimination (RFE)

#4. Supervised Learning
#Linear Models:      *

#Linear Regression
#Ridge, Lasso, ElasticNet (Regularization techniques)
#Logistic Regression (classification)

#Tree-based Models:      *

#Decision Trees (classification and regression)
#Random Forest
#Gradient Boosting (e.g., XGBoost, LightGBM)

#Support Vector Machines (SVMs):      *

# SVC (Support Vector Classifier)
# SVR (Support Vector Regressor)

# Naive Bayes:       *

#Gaussian Naive Bayes
#Multinomial Naive Bayes

#K-Nearest Neighbors (KNN):     *

#KNeighborsClassifier
#KNeighborsRegressor

# 5. Unsupervised Learning
#Clustering:

#K-Means
#DBSCAN
#Agglomerative Clustering

#Dimensionality Reduction:

#PCA (Principal Component Analysis)
#t-SNE (t-Distributed Stochastic Neighbor Embedding)

#Gaussian Mixture Models:

#GMM for clustering

#6. Model Evaluation
#Train-Test Split
#Cross-Validation
#K-Fold Cross-Validation
#StratifiedKFold

#Metrics for Regression:

#Mean Absolute Error (MAE)
#Mean Squared Error (MSE)
#RÂ² Score

#Metrics for Classification:

#Accuracy
#Precision, Recall, F1-Score
#ROC-AUC
#Confusion Matrix

#Metrics for Clustering:

#Silhouette Score
#Davies-Bouldin Index

#7. Model Selection and Hyperparameter Tuning

#Grid Search (GridSearchCV)
#Random Search (RandomizedSearchCV)
#Bayesian Optimization (with external libraries like Optuna)

#8. Pipelines and Workflow Automation

#Creating a pipeline
#Combining preprocessing and modeling steps
#Caching intermediate results with memory

# 9. Advanced Topics

#Ensemble Methods:

#Bagging and Boosting
#Voting Classifiers
#Stacking Classifiers
#Outlier Detection:

#Isolation Forest
#One-Class SVM
#Custom Transformers:

#Writing custom preprocessing classes

#Working with Imbalanced Data:

#Oversampling (e.g., SMOTE)
#Undersampling
#Class weighting

#10. Real-World Applications
#Text Data:

#CountVectorizer
#TF-IDF Transformer

#Time Series Data:

#Handling time-series splits
#Feature engineering for time series

#Deploying Models:

#Exporting models using joblib
#Using scikit-learn models in production

In [4]:
 # 1. Basics of scikit-learn

In [ ]:
#scikit-learn is a Python library used for machine learning and data analysis.
#It provides simple and efficient tools for data preprocessing, supervised and unsupervised learning,
# model evaluation, and more.
#Built on top of NumPy, SciPy, and Matplotlib, making it compatible with other popular data science libraries.

In [5]:
import sklearn
print(sklearn.__version__)

1.6.1

In [ ]:
# Datasets

In [1]:
# Built-in datasets (iris, digits, boston, etc.)

In [12]:
from sklearn.datasets import load_iris
import pandas as pd


iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [13]:
from sklearn.datasets import load_digits
import pandas as pd

digit_data = load_digits()
df = pd.DataFrame(digit_data.data, columns = digit_data.feature_names)
df

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,4.0,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,8.0,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0

In [18]:
from sklearn.datasets import load_wine
import pandas as pd

wine_data = load_wine()

df = pd.DataFrame(wine_data.data, columns = wine_data.feature_names)
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [27]:
from sklearn.datasets import load_diabetes
import pandas as pd

x = load_diabetes()

df = pd.DataFrame(x.data, columns = x.feature_names)
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [22]:
# to load datasets we basically use data (features/column names),
# target(labels - those data which are dependant ) and descr (description)

In [29]:
from sklearn.datasets import load_wine

wine = load_wine()
print("Featues: \n", wine.feature_names)
print("Target (Labels): ", wine.target_names)

Featues:
 ['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']
Target (Labels):  ['class_0' 'class_1' 'class_2']

In [30]:
# Loading external datasets (CSV, SQL, etc.)

In [31]:
from sklearn.model_selection import train_test_split


df = pd.read_csv('Employee.csv')
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [35]:
X = df.iloc[:, :-1]        # features
y = df.iloc[:,-1]          # target

X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)
print(X_train.head())

      Education  JoiningYear       City  PaymentTier  Age Gender EverBenched  \
2850    Masters         2013  New Delhi            3   30   Male          No
589   Bachelors         2012  Bangalore            3   25   Male          No
2086    Masters         2017       Pune            2   29   Male          No
445     Masters         2012       Pune            3   24   Male          No
3654    Masters         2017  New Delhi            2   35   Male          No

      ExperienceInCurrentDomain
2850                          0
589                           3
2086                          2
445                           2
3654                          2

In [38]:
# why do we train test and split the data?
# Ans:  The goal is to avoid overfitting (when the model learns the 
# training data too well but performs poorly on new data).

In [37]:
# steps to train test and split data is 

# 1. Split the features (X) and Target (y) features that will be used to predict the target.
# 2. Train Test Split

In [39]:
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
import pandas as pd

wine = load_wine()
df = pd.DataFrame(wine.data, columns = wine.feature_names)
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [42]:
X = wine.data              # features
y = wine.target            # target


X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42, test_size = 0.3)

print("Training features (X_train):")
print(X_train[:5])

# Display the first 5 training target labels
print("\nTraining labels (y_train):")
print(y_train[:5])

# Display the first 5 rows of the testing features
print("\nTesting features (X_test):")
print(X_test[:5])

# Display the first 5 testing target labels
print("\nTesting labels (y_test):")
print(y_test[:5])

Training features (X_train):
[[1.349e+01 3.590e+00 2.190e+00 1.950e+01 8.800e+01 1.620e+00 4.800e-01
  5.800e-01 8.800e-01 5.700e+00 8.100e-01 1.820e+00 5.800e+02]
 [1.251e+01 1.730e+00 1.980e+00 2.050e+01 8.500e+01 2.200e+00 1.920e+00
  3.200e-01 1.480e+00 2.940e+00 1.040e+00 3.570e+00 6.720e+02]
 [1.233e+01 9.900e-01 1.950e+00 1.480e+01 1.360e+02 1.900e+00 1.850e+00
  3.500e-01 2.760e+00 3.400e+00 1.060e+00 2.310e+00 7.500e+02]
 [1.328e+01 1.640e+00 2.840e+00 1.550e+01 1.100e+02 2.600e+00 2.680e+00
  3.400e-01 1.360e+00 4.600e+00 1.090e+00 2.780e+00 8.800e+02]
 [1.229e+01 2.830e+00 2.220e+00 1.800e+01 8.800e+01 2.450e+00 2.250e+00
  2.500e-01 1.990e+00 2.150e+00 1.150e+00 3.300e+00 2.900e+02]]

Training labels (y_train):
[2 1 1 0 1]

Testing features (X_test):
[[1.364e+01 3.100e+00 2.560e+00 1.520e+01 1.160e+02 2.700e+00 3.030e+00
  1.700e-01 1.660e+00 5.100e+00 9.600e-01 3.360e+00 8.450e+02]
 [1.421e+01 4.040e+00 2.440e+00 1.890e+01 1.110e+02 2.850e+00 2.650e+00
  3.000e-01 1.250e+00 5.240e+00 8.700e-01 3.330e+00 1.080e+03]
 [1.293e+01 2.810e+00 2.700e+00 2.100e+01 9.600e+01 1.540e+00 5.000e-01
  5.300e-01 7.500e-01 4.600e+00 7.700e-01 2.310e+00 6.000e+02]
 [1.373e+01 1.500e+00 2.700e+00 2.250e+01 1.010e+02 3.000e+00 3.250e+00
  2.900e-01 2.380e+00 5.700e+00 1.190e+00 2.710e+00 1.285e+03]
 [1.237e+01 1.170e+00 1.920e+00 1.960e+01 7.800e+01 2.110e+00 2.000e+00
  2.700e-01 1.040e+00 4.680e+00 1.120e+00 3.480e+00 5.100e+02]]

Testing labels (y_test):
[0 0 2 0 1]

In [1]:
# 3. Data Preprocessing

In [1]:
# Feature Scaling

# Feature scaling is the process of adjusting the values 
# of different features (columns) in your dataset to a common range or scale.
# This ensures no single feature dominates or biases the 
# model because of its larger scale compared to others.

# In short it treats all the features to same level and equally.

In [3]:
# Types

# StandardScaler (Z score Normalization)
# MinMaxScaler
# RobustScaler

In [5]:
# StandardScaler - Standardizes features by removing the mean 
# and scaling to unit variance.

# X scaled = XâÎ¼ / Ï

In [12]:
import pandas as pd
from sklearn.preprocessing import StandardScaler  # imp
from sklearn.datasets import load_wine 

wine = load_wine()

df = pd.DataFrame(wine.data, columns = wine.feature_names)

scaler = StandardScaler()

standardize_data = scaler.fit_transform(df)

x = pd.DataFrame(standardize_data, columns = df.columns)
x

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,1.518613,-0.562250,0.232053,-1.169593,1.913905,0.808997,1.034819,-0.659563,1.224884,0.251717,0.362177,1.847920,1.013009
1,0.246290,-0.499413,-0.827996,-2.490847,0.018145,0.568648,0.733629,-0.820719,-0.544721,-0.293321,0.406051,1.113449,0.965242
2,0.196879,0.021231,1.109334,-0.268738,0.088358,0.808997,1.215533,-0.498407,2.135968,0.269020,0.318304,0.788587,1.395148
3,1.691550,-0.346811,0.487926,-0.809251,0.930918,2.491446,1.466525,-0.981875,1.032155,1.186068,-0.427544,1.184071,2.334574
4,0.295700,0.227694,1.840403,0.451946,1.281985,0.808997,0.663351,0.226796,0.401404,-0.319276,0.362177,0.449601,-0.037874
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,0.876275,2.974543,0.305159,0.301803,-0.332922,-0.985614,-1.424900,1.274310,-0.930179,1.142811,-1.392758,-1.231206,-0.021952
174,0.493343,1.412609,0.414820,1.052516,0.158572,-0.793334,-1.284344,0.549108,-0.316950,0.969783,-1.129518,-1.485445,0.009893
175,0.332758,1.744744,-0.389355,0.151661,1.422412,-1.129824,-1.344582,0.549108,-0.422075,2.224236,-1.612125,-1.485445,0.280575
176,0.209232,0.227694,0.012732,0.151661,1.422412,-1.033684,-1.354622,1.354888,-0.229346,1.834923,-1.568252,-1.400699,0.296498
177,1.395086,1.583165,1.365208,1.502943,-0.262708,-0.392751,-1.274305,1.596623,-0.422075,1.791666,-1.524378,-1.428948,-0.595160

In [14]:
# MinMaxScaler - Scales features to a specific range, typically [0, 1].

# X scaled = X - X min / X max - X min

In [25]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data = {

    "Age": [23,34,56,89],
    "Salary": [20000,70000,76000,87000],
    "House Size": [900, 1500, 2500, 3500]
}

df = pd.DataFrame(data)

scaler = MinMaxScaler()

y = scaler.fit_transform(df)

z = pd.DataFrame(y, columns = df.columns)
z

        Age    Salary  House Size
0  0.000000  0.000000    0.000000
1  0.166667  0.746269    0.230769
2  0.500000  0.835821    0.615385
3  1.000000  1.000000    1.000000

In [27]:
# RobustScaler

# Scales features based on their median and interquartile range (IQR).

# X scaled = XâMedian / IQR

# IQR = Q3 -Q1

# Q1 = valueÂ atÂ theÂ 25thÂ percentileÂ ofÂ theÂ data
# Q3 = value at the 75th percentile of the data

In [36]:
import pandas as pd
from sklearn.preprocessing import RobustScaler
from sklearn.datasets import load_iris


iris = load_iris()

df = pd.DataFrame(iris.data, columns = iris.feature_names)

robust = RobustScaler()

robusted_data = robust.fit_transform(df)

result = pd.DataFrame(robusted_data, columns=df.columns)
result

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0            -0.538462               1.0          -0.842857         -0.733333
1            -0.692308               0.0          -0.842857         -0.733333
2            -0.846154               0.4          -0.871429         -0.733333
3            -0.923077               0.2          -0.814286         -0.733333
4            -0.615385               1.2          -0.842857         -0.733333
..                 ...               ...                ...               ...
145           0.692308               0.0           0.242857          0.666667
146           0.384615              -1.0           0.185714          0.400000
147           0.538462               0.0           0.242857          0.466667
148           0.307692               0.8           0.300000          0.666667
149           0.076923               0.0           0.214286          0.333333

[150 rows x 4 columns]

In [19]:
import pandas as pd
from sklearn.preprocessing import StandardScaler


df = pd.read_csv('Housing.csv')
numerical_cols = ['area', 'price', 'bedrooms', 'bathrooms', 'stories', 'parking']

scaler = StandardScaler()

standardized_data = scaler.fit_transform(df[numerical_cols])

pd.DataFrame(standardized_data, columns = numerical_cols)

         area     price  bedrooms  bathrooms   stories   parking
0    1.046726  4.566365  1.403419   1.421812  1.378217  1.517692
1    1.757010  4.004484  1.403419   5.405809  2.532024  2.679409
2    2.218232  4.004484  0.047278   1.421812  0.224410  1.517692
3    1.083624  3.985755  1.403419   1.421812  0.224410  2.679409
4    1.046726  3.554979  1.403419  -0.570187  0.224410  1.517692
..        ...       ...       ...        ...       ...       ...
540 -0.991879 -1.576868 -1.308863  -0.570187 -0.929397  1.517692
541 -1.268613 -1.605149  0.047278  -0.570187 -0.929397 -0.805741
542 -0.705921 -1.614327 -1.308863  -0.570187 -0.929397 -0.805741
543 -1.033389 -1.614327  0.047278  -0.570187 -0.929397 -0.805741
544 -0.599839 -1.614327  0.047278  -0.570187  0.224410 -0.805741

[545 rows x 6 columns]

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv('Housing.csv')

# First train_test_split
X = df.drop(columns = ['price'])
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

print("Feature Train:\n", X_train)
print("\nFeature Test:\n", X_test)
print("\nTarget Train:\n", y_train)
print("\nTarget Test:\n", y_test)

print("============================================================================================================")

# Now do Preprocessing using any Feature Scaling technique

numerical_cols = ['area', 'bedrooms', 'bathrooms', 'stories', 'parking']

scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train[numerical_cols])

X_train_scaled_df = pd.DataFrame(X_train_scaled, columns=numerical_cols)

print("\nScaled Feature Train Data:\n", X_train_scaled_df)

Feature Train:
      area  bedrooms  bathrooms  stories mainroad guestroom basement  \
126  7160         3          1        1      yes        no      yes
363  3584         2          1        1      yes        no       no
370  4280         2          1        1      yes        no       no
31   7000         3          1        4      yes        no       no
113  9620         3          1        1      yes        no      yes
..    ...       ...        ...      ...      ...       ...      ...
71   6000         4          2        4      yes        no       no
106  5450         4          2        1      yes        no      yes
270  4500         3          2        3      yes        no       no
435  4040         2          1        1      yes        no       no
102  5500         3          2        4      yes       yes       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
126              no              no        2      yes      unfurnished
363             yes              no        0       no   semi-furnished
370              no             yes        2       no   semi-furnished
31               no             yes        2       no   semi-furnished
113              no              no        2      yes        furnished
..              ...             ...      ...      ...              ...
71               no             yes        0       no      unfurnished
106              no             yes        0      yes   semi-furnished
270             yes              no        1       no        furnished
435              no              no        0       no      unfurnished
102              no             yes        1       no   semi-furnished

[381 rows x 12 columns]

Feature Test:
      area  bedrooms  bathrooms  stories mainroad guestroom basement  \
316  5900         4          2        2       no        no      yes
77   6500         3          2        3      yes        no       no
360  4040         2          1        1      yes        no       no
90   5000         3          1        2      yes        no       no
493  3960         3          1        1      yes        no       no
..    ...       ...        ...      ...      ...       ...      ...
395  3600         6          1        2      yes        no       no
425  3185         2          1        1      yes        no      yes
195  4410         4          3        2      yes        no      yes
452  9000         3          1        2      yes        no       no
154  3650         3          2        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
316              no              no        1       no      unfurnished
77               no             yes        0      yes        furnished
360              no              no        0       no   semi-furnished
90               no             yes        0       no   semi-furnished
493              no              no        0       no        furnished
..              ...             ...      ...      ...              ...
395              no              no        1       no      unfurnished
425              no              no        2       no        furnished
195              no              no        2       no   semi-furnished
452              no              no        2       no   semi-furnished
154              no              no        2       no   semi-furnished

[164 rows x 12 columns]

Target Train:
 126    5880000
363    3710000
370    3640000
31     8400000
113    6083000
        ...
71     6755000
106    6160000
270    4340000
435    3290000
102    6195000
Name: price, Length: 381, dtype: int64

Target Test:
 316    4060000
77     6650000
360    3710000
90     6440000
493    2800000
        ...
395    3500000
425    3360000
195    4970000
452    3150000
154    5530000
Name: price, Length: 164, dtype: int64
============================================================================================================

Scaled Feature Train Data:
          area  bedrooms  bathrooms   stories   parking
0    0.378694       0.4   0.000000  0.000000  0.666667
1    0.132921       0.2   0.000000  0.000000  0.000000
2    0.180756       0.2   0.000000  0.000000  0.666667
3    0.367698       0.4   0.000000  1.000000  0.666667
4    0.547766       0.4   0.000000  0.000000  0.666667
..        ...       ...        ...       ...       ...
376  0.298969       0.6   0.333333  1.000000  0.000000
377  0.261168       0.6   0.333333  0.000000  0.000000
378  0.195876       0.4   0.333333  0.666667  0.333333
379  0.164261       0.2   0.000000  0.000000  0.000000
380  0.264605       0.4   0.333333  1.000000  0.333333

[381 rows x 5 columns]

In [ ]:
# Encoding Categorical Data

In [34]:
# To convert categorical data into a form that models 
# can work with, we need to encode it into numerical values.

In [36]:
# Types

# LabelEncoder
# OneHotEncoder
# OrdinalEncoder

In [37]:
# LabelEncoder

In [44]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {
    "Color": ["red", "Blue", "Orange","red", "Blue", "Black"]
}

df = pd.DataFrame(data)

LE = LabelEncoder()

df["Labeled Color"] = LE.fit_transform(df['Color'])
df

    Color  Labeled Color
0     red              3
1    Blue              1
2  Orange              2
3     red              3
4    Blue              1
5   Black              0