In [1]:
import pandas as pd
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:

iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns =  iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [3]:
X = iris.data            # features
y  = iris.target        # label  - data you are trying to predict or classify

df = pd.DataFrame(X, columns = iris.feature_names)
df["species"] = iris.target_names[y]
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [4]:
# so our features are whole data except "species" and our target is species

In [9]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X)    # we standarddized the features

pca = PCA(n_components = 2)
X_pca = pca.fit_transform(scaled_data)

df_pca = pd.DataFrame(X_pca, columns = ['PC1', 'PC2'])
df_pca['species'] = y
df_pca

          PC1       PC2  species
0   -2.264703  0.480027        0
1   -2.080961 -0.674134        0
2   -2.364229 -0.341908        0
3   -2.299384 -0.597395        0
4   -2.389842  0.646835        0
..        ...       ...      ...
145  1.870503  0.386966        2
146  1.564580 -0.896687        2
147  1.521170  0.269069        2
148  1.372788  1.011254        2
149  0.960656 -0.024332        2

[150 rows x 3 columns]

In [ ]:
# so here main this is we have converted all those features into two PCA's which is PCA 1 and PCA 2
# this two can be used for further ML models to get insights in fast speed and correct output.